/* Self-hosted brand fonts (SIL Open Font License 1.1, via Fontsource).
   Michroma = display (wide, squared: the hypercar voice). Saira = text. JetBrains Mono = numbers. */
@font-face { font-family: "Michroma"; font-weight: 400; font-display: swap; src: url(michroma-latin-400-normal.woff2) format("woff2"); }
@font-face { font-family: "Saira"; font-weight: 300; font-display: swap; src: url(saira-latin-300-normal.woff2) format("woff2"); }
@font-face { font-family: "Saira"; font-weight: 400; font-display: swap; src: url(saira-latin-400-normal.woff2) format("woff2"); }
@font-face { font-family: "Saira"; font-weight: 500; font-display: swap; src: url(saira-latin-500-normal.woff2) format("woff2"); }
@font-face { font-family: "Saira"; font-weight: 600; font-display: swap; src: url(saira-latin-600-normal.woff2) format("woff2"); }
@font-face { font-family: "Saira"; font-weight: 700; font-display: swap; src: url(saira-latin-700-normal.woff2) format("woff2"); }
@font-face { font-family: "Saira"; font-weight: 800; font-display: swap; src: url(saira-latin-800-normal.woff2) format("woff2"); }
@font-face { font-family: "JetBrains Mono"; font-weight: 400; font-display: swap; src: url(jetbrains-mono-latin-400-normal.woff2) format("woff2"); }
@font-face { font-family: "JetBrains Mono"; font-weight: 500; font-display: swap; src: url(jetbrains-mono-latin-500-normal.woff2) format("woff2"); }
